.sfondoBoolzapp {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 90%, rgba(0, 150, 136, 1) 90%);
}

#col-left,
#col-right{
    background-color: #e9eaed;
}

.fa-circle-notch,
.fa-comment-alt,
.fa-ellipsis-v,
.fa-paperclip{
    color: #B0B1B3;
}

#col-left-notifiche{
    background-color: #99dafd;
}

#bell{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #99dafd;
}

.fa-search{
    color: #b6b9bd;
}

#basic-addon1{
    background-color: #fff;
}

#basic-addon1,
.form-control{
    border: 0;
}

#app{
    height: 95%;
}

.ultimo-messaggio,
.ultimo-accesso{
    font-size: 12px;
    color: #c6bebd;
}



#col-right-chat{
    background-image: url("../img/mine.jpg");
}

#col-right-chat .sent{
    background-color: #d8f8bf;
}

.fa-smile,
.fa-microphone{
    font-size: 24px;
    color: #6c7377;
}

.sent,
.received{
    width: 40%;
}

.sent span,
.received span{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #c6bebd;
}

.dropdown-toggle::after{
    position: absolute;
    top: 10px;
    right: 5px;
    color: gray;
}