.sfondoBoolzapp {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 90%, rgba(0, 150, 136, 1) 90%);
}

.temaBoolzapp {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: relative;

}

.fontSize {
    font-size: 10px;
}